
   	<div class="layui-form-item">
        <label class="layui-form-label ">账号</label>
        <div class="layui-input-block">
            <input type="text" name="account" lay-filter="account" maxlength="50"  placeholder="请输入账号"
 class="layui-input" id="account">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">登录IP</label>
        <div class="layui-input-block">
            <input type="text" name="ip" lay-filter="ip" maxlength="50"  placeholder="请输入登录IP"
 class="layui-input" id="ip">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">登录用户</label>
        <div class="layui-input-block">
        	<input type="number" name="userId" lay-filter="userId" maxlength="10"  placeholder="请输入登录用户"
  step="0" class="layui-input" id="userId">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">Session</label>
        <div class="layui-input-block">
            <input type="text" name="sessionId" lay-filter="sessionId" maxlength="50"  placeholder="请输入Session"
 class="layui-input" id="sessionId">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">登录时间</label>
        <div class="layui-input-block">
            <input type="text" name="loginTime" lay-filter="loginTime" maxlength="20"  placeholder="请输入登录时间"
 class="layui-input" id="loginTime">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">退出时间</label>
        <div class="layui-input-block">
            <input type="text" name="logoutTime" lay-filter="logoutTime" maxlength="20"  placeholder="请输入退出时间"
 class="layui-input" id="logoutTime">
        </div>
    </div>
    <div class="layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">确认保存</button>
        </div>
    </div>