<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="#(STATICS)images/favicon.ico">
<link rel="stylesheet" href="#(STATICS)lib/layui-v2.5.5/css/layui.css" media="all">
<link rel="stylesheet" href="#(STATICS)css/public.css?v=#(VERSION)" media="all">
<script>
	var APP = {
		CONTEXT : '#(CONTEXT)',
		MODULE : '#(_module)',
		CONTROLLER : '#(_controller)',
		ACTION : '#(_action)',
		VERSION : '1.0',
	};
</script>