#define layout()
<!DOCTYPE html>
<html>
<head>
	<title>#(_config.title??)</title>
	#include("/view/include/inc.html")
    #@css?()
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
    <div class="layui-container">  
	  <div class="layui-row">
	    <div class="layui-col-md3" style="padding-right: 10px;">
	    	<div class="layui-card">
				<div class="layui-card-header">导航</div>
			  		<div class="layui-card-body">
			    		<div id="leftTree">
			    	</div>
		  		</div>
			</div>	      	
	    </div>
	    <div class="layui-col-md9" style="border-left: 1px solid #eee;padding-left: 10px;">
		    #@main()	    	       
	    </div>
	  </div>
  	</div>
    	 
    </div>
</div>
<script src="#(STATICS)lib/layui-v2.5.5/layui.js?v=#(VERSION)" charset="utf-8"></script>
<script src="#(STATICS)js/lay-config.js?v=#(VERSION)" charset="utf-8"></script>
<script src="#(CONTEXT)sys/dict/format?v=#(VERSION)" charset="utf-8"></script>
#@js?()
#@script()
</body>
</html>
#end