#include("/view/include/form.html")
#@layout()

#define main()
   	<div class="layui-form-item">
        <label class="layui-form-label  ">数据文件</label>
        <div class="layui-input-inline">
        	<input type="hidden" name="excel" id="excel_path">
        	<input type="text" name="excel_name" id="excel" file="excel" exts="xls|xlsx" readonly lay-verify="required" lay-reqtext="文件不能为空" maxlength="200" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><a href="#(STATICS)excel/#(_module)/#(_controller).xlsx" target="_blank">下载模板</a></div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label  required ">遇到错误</label>
        <div class="layui-input-block">
      		<input type="radio" name="error" value="1" title="退出" checked>
      		<input type="radio" name="error" value="2" title="忽略">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label  required ">重复数据</label>
        <div class="layui-input-block">
      		<input type="radio" name="repeat" value="1" title="报错" checked>
      		<input type="radio" name="repeat" value="2" title="忽略">
      		<input type="radio" name="repeat" value="3" title="更新">
      	</div>
    </div>
    <div class="layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">确认保存</button>
        </div>
    </div>
#end

