
   	<div class="layui-form-item">
        <label class="layui-form-label ">操作用户</label>
        <div class="layui-input-block">
        	<input type="number" name="userId" lay-filter="userId" maxlength="10"  placeholder="请输入操作用户"
  step="0" class="layui-input" id="userId">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">操作</label>
        <div class="layui-input-block">
        	<input type="number" name="actionId" lay-filter="actionId" maxlength="10"  placeholder="请输入操作"
  step="0" class="layui-input" id="actionId">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">操作时间</label>
        <div class="layui-input-block">
            <input type="text" name="actionTime" lay-filter="actionTime" maxlength="20"  placeholder="请输入操作时间"
 class="layui-input" id="actionTime">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">操作IP</label>
        <div class="layui-input-block">
            <input type="text" name="ip" lay-filter="ip" maxlength="50"  placeholder="请输入操作IP"
 class="layui-input" id="ip">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label ">参数</label>
        <div class="layui-input-block">
            <input type="text" name="param" lay-filter="param" maxlength="200"  placeholder="请输入参数"
 class="layui-input" id="param">
        </div>
    </div>
    <div class="layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">确认保存</button>
        </div>
    </div>