<fieldset class="table-search-fieldset">
	<legend>搜索信息</legend>
	<div style="margin: 10px 10px 10px 10px">
		<form class="layui-form layui-form-pane" action="" id="searchForm"
			lay-filter="searchForm">
			<div class="layui-form-item">
		        <div class="layui-inline">
					<label class="layui-form-label">代码</label>
					<div class="layui-input-inline">
						<input type="text" name="code" id="code" autocomplete="off" class="layui-input">
					</div>
				</div> 
		        <div class="layui-inline">
					<label class="layui-form-label">用户</label>
					<div class="layui-input-inline">
						<input type="text" name="userId" id="userId" autocomplete="off" class="layui-input">
					</div>
				</div> 
		        <div class="layui-inline">
					<label class="layui-form-label">应用</label>
					<div class="layui-input-inline">
						<input type="text" name="appId" id="appId" autocomplete="off" class="layui-input">
					</div>
				</div> 
		        <div class="layui-inline">
					<label class="layui-form-label">IP地址</label>
					<div class="layui-input-inline">
						<input type="text" name="ip" id="ip" autocomplete="off" class="layui-input">
					</div>
				</div> 
				<div class="layui-inline">
					<button type="submit" class="layui-btn layui-btn-primary"
						lay-submit lay-filter="data-search-btn">
						<i class="layui-icon"></i> 搜 索
					</button>
      				<button type="reset" class="layui-btn layui-btn-primary">清空</button>
				</div>
			</div>
		</form>
	</div>
</fieldset>