
	<input type="hidden" name="isDefault" value="0" >
   	<div class="layui-form-item">
        <label class="layui-form-label  required ">角色代码</label>
        <div class="layui-input-inline">
            <input type="text" name="code" lay-filter="code" lay-verify="required" lay-reqtext="角色代码不能为空" maxlength="50"  placeholder="请输入角色代码"
 class="layui-input" id="code">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label  required ">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="title" lay-filter="title" lay-verify="required" lay-reqtext="角色名称不能为空" maxlength="200"  placeholder="请输入角色名称"
 class="layui-input" id="title">
        </div>
    </div>
   	<div class="layui-form-item">
        <label class="layui-form-label  required ">状态</label>
        <div class="layui-input-inline">
        	<select name="status" id="status" #if(_action == "add") value="1" #end url="#(CONTEXT)sys/dict/select?dict=status" idField="code" lay-filter="status" lay-verify="required" lay-reqtext="状态不能为空"></select>					
        </div>
    </div>
    <div class="layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">确认保存</button>
        </div>
    </div>