
    <div class="layui-form-item">
        <label class="layui-form-label required">模块名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" maxlength="50" lay-reqtext="模块名称不能为空" placeholder="请输入模块名称" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">模块代码</label>
        <div class="layui-input-block">
            <input type="text" name="code" lay-verify="required" #if(_action != "add") readonly #end maxlength="20" lay-reqtext="模块代码不能为空" placeholder="请输入模块代码" value="" class="layui-input">
        	<tip>字母数字组合，必须以字母开头</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">状态</label>
        <div class="layui-input-block">
           <select name="status" id="status" #if(_action == "add") value="1" #end url="#(CONTEXT)sys/dict/select?dict=status" idField="code" lay-filter="status" lay-verify="required" lay-reqtext="状态不能为空" value="1"></select>					
		</div>
    </div>
    <div class="layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">确认保存</button>
        </div>
    </div>