#include("/view/include/list.html")
#@layout()

#define main()
	#include("filter.html")
	<script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="form" url="add.html"> 添加 </button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="ajax_select" url="delete"> 删除选择 </button>
        </div>
    </script>
	<script type="text/html" id="tool">
        <a class="layui-btn layui-btn-xs " lay-event="form" url="edit.html">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="ajax" url="delete">删除</a>
    </script>
		<script type="text/html" id="tpl_status">
        	{{= dict_status(d.status) }}
    	</script>
		<script type="text/html" id="tpl_user">
        	{{#(SHARP) if(d.user){ }}
				{{= d.user.nickname }}
        	{{#(SHARP) } }}
    	</script>

#end

#define script()
<script>
    layui.use(['curd'], function () {
        var $ = layui.jquery,
            curd = layui.curd,
            layuimini = layui.layuimini;
            var listTable = curd.init({
            elem: '#listTable',
            url: '#(CONTEXT)#(_module)/#(_controller)/lists',
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'title', minWidth: 250, title: '标题'},
                {field: 'addUserId', minWidth: 200, title: '发布人', templet: '#tpl_user'},
                {field: 'addTime', minWidth: 200, title: '发布时间'},
                {field: 'readCount', minWidth: 100, title: '阅读量'},
                {title: '操作', width: 150, templet: '#tool', fixed: "right", align: "center"}
            ]]
        });
    });      
</script>
#end