<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>#(vo.title)</title>
<style type="text/css">
body {
	margin: 0;
	padding: 0px;
	font-family: "Microsoft YaHei", YaHei, "微软雅黑", SimHei, "黑体";
	font-size: 14px
}
</style>

</head>

<body>
	<div id="video" style="width: 600px; height: 400px;"></div>
	<script type="text/javascript" src="#(CONTEXT)statics/lib/ckplayer/ckplayer.js"></script>
	<script type="text/javascript">
		var videoObject = {
			container : '#video', //容器的ID或className
			variable : 'player',//播放函数名称
			poster : '#(CONTEXT)statics/lib/ckplayer/poster.jpg',//封面图片
			video : #if(vo.getName().endsWith("mp4"))
					{
						file:'#(UPLOAD)#(vo.path)',
						type:'video/mp4'
					}
					#else if(vo.getName().endsWith("m3u8"))
					{
						file:'#(UPLOAD)#(vo.path)',
						type:'video/m3u8'
					}
					#else
						'#(vo.urls)'
					#end
		};
		var player = new ckplayer(videoObject);
	</script>
	<p>本页观看需要在支持h5环境的浏览器上，视频格式需要是h5支持的mp4</p>
</body>

</html>